<footer id="footer">
  <div class="footer-left">
    <%= __('footer.copyright') %> &copy; <%= new Date().getFullYear() %> <%= config.author || config.title %>

  </div>
  <div class="footer-right">
    <nav>
      <!-- <ul>
        <% for (var i in theme.nav) { %>
          <li><a href="<%- url_for(theme.nav[i]) %>"><%= __('nav.'+i).replace("nav.", "") %></a></li>
        <% } %>
      </ul> -->
      Lovingly supported by <a href="https://www.tezos.org.sg/">Tezos Southeast Asia</a>.
    </nav>
  </div>
</footer>
<script src='https://unpkg.com/mermaid@8.0.0/dist/mermaid.min.js'></script>
<script>
 if (window.mermaid) {
   mermaid.initialize({theme: 'forest'});
 }
</script>
